<center>
<h1>
				{groupList.length} groups found
</h1>
<hr>
<form onkeypress="return handelGroupFilterFormKeypress(event)">
<table class="tabular_table searchFormTable" >	
	<tr class=tabular_table_body>	
		<th>group name</th> <td><input type=text id=groupNameFilter value="{groupNameFilterPrevVal}"></td>	
		<th>description</th> <td><input type=text id=groupDescritpionFilter value="{groupDescritpionFilterPrevVal}"></td>	
		<td><input type=button class=button_orange value=filter onclick=showGroups()><input type=button class=button_white value=reset onclick=resetGroupFilter()></th> 	
	</tr>	
</table>	
</form>	
	<table id="groupsList" class="tabular_table scroll" style="width: 800px; overflow: hidden;">
		<thead>
			<tr class=tabular_table_header>
				<th>Groupname</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody id="data">
		<tr id="rowTpl" style="visibility:hidden">
			<td >{groupList[i].groupName}</td>
			<td>{groupList[i].description}</td>
			<td class="action">
				<a id="bntEdit" title="{editGroupToolTip}" href=javascript:startEditGroup('{groupList[i].uri}')><img border=0 src=images/edit.gif></a>
				<a id="btnDelete" title="{deleteGroupToolTip}" href="javascript:deleteGroup('{groupList[i].uri}', '{groupList[i].groupName}')"><img border=0 src=images/delete.gif></a>
			</td>
		</tr>
	</tbody></table>
</center>
