<center>
<h2>
	{currentGroup.groupName} + "'s members 
</h2>
	if (userList.length > 0) {
			<table class="tabular_table scroll">
				<thead>
				<tr class="tabular_table_header">
					<th>User name</th>
					<th>First name</th>
					<th>Last name</th>
					<th>email</th>
				</tr>
				</thead>
				<tbody id="data">
					<tr id="rowTpl" style="visibility:hidden">
						<td>{userList[i].userName}</td>
						<td>{userList[i].firstName}</td>
						<td>{userList[i].lastName}</td>
						<td>{userList[i].emailAddress}</td>
					</tr>
		}
				</tbody>
			</table>
<br><input type="button" class="button_orange" onclick="editGroup(currentGroup)" value="Done">&nbsp;
