
<center>
<h1>
Group {group.groupName} properties
</h1>
<hr>
<form>
<table class="tabular_table">
<tr class="tabular_table_body">
<th>Group name:</th>
<td>{group.groupName}</td>
<tr class="tabular_table_body">
<th>Description:</th>
<td><input class="inputText"  title="{groupDescToolTip"}"  type='text' id='groupDesc' value="{group.description}" onchange="setGroupModified(true)" onkeypress="setGroupModified(true)"></td>
</tr>
</table>
<br>
<input type="button" id="saveGroup" onclick="updateGroup('{group.uri"}')" value="Save" class="button_orange">&nbsp;
<input type="button" id="cancelGroup"  onclick="showGroups()" value="Cancel" class="button_orange">
<input type="button" id="groupMembers"  onclick="showMembers()" value="Members" class="button_orange">
</form>
</center>
