<center>
<h1>
	{nodeList.length} nodes found
</h1>
<hr>
	<form onkeypress="return handelNodeFilterFormKeypress(event)">
	<table class="tabular_table searchFormTable" >	
		<tr class="tabular_table_body">	
			<th>node name</th> <td><input type="text" id="nodeNameFilter" value="{nodeNameFilterPrevVal}"></td>	
			<th>node description</th> <td><input type="text" id="nodeDescriptionFilter" value="{nodeDescriptionFilterPrevVal}"></td>	
			<th>server FQDN</th> <td><input type="text" id="serverFQDNFilter" value="{serverFQDNFilterPrevVal}"></td>	
		</tr>	
		<tr class="tabular_table_body">	
			<th>Local IP</th> <td><input type="text" id="localIPFilter"value="{localIPFilterPrevVal}"></td>	
			<th>port</th> <td><input type="text" id="portFilter" value="{portFilterPrevVal}"></td>	
			<td colspan="2"><input type="button" class="button_orange" value="filter" onclick="showNodes()"><input type="button" class="button_white" value="reset" onclick="resetNodeFilter()"></th> 	
		</tr>	
	</table>	
	</form>
	<table id="nodesList" class="tabular_table scroll choices-border" >
		<thead>
			<tr class="tabular_table_header">
				<th>Node name</th>
				<th>SSL</th>
				<th>FQDN</th>
				<th>Binding</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody id="data">
			<tr id="rowTpl" class="item" style="display:none">
				<td title="{nodeList[i].nodeName}">{nodeList[i].nodeName}</td>
				<td class="isPublished"><input  title="{isPublishedToolTip}" type="checkbox" id="isPublished{i}" {cbIsHTTPS} disabled><label for="isPublished{i}"></label></td>
				<td title="{nodeList[i].serverFQDN}">{nodeList[i].serverFQDN}</td>
				<td title="{nodeList[i].localIP}:{nodeList[i].port}">{nodeList[i].localIP}:{nodeList[i].port}</td>
				<td title="{nodeList[i].nodeDescription}">{nodeList[i].nodeDescription}</td>
				<td class="action">
					<a id="btnEdit" title="{editNodeToolTip}"  href="javascript:startEditNode('{nodeList[i].uri}')"><img  border="0" src="images/edit.gif"></a>
					<a id="btnDelete" title="{deleteNodeToolTip}"  href="javascript:deleteNode('{nodeList[i].uri}', '{nodeList[i].nodeName}')"><img border="0" src="images/delete.gif"></a>
				</td>
			</tr>
		</tbody>
	 </table>
</center>
