<table class="tabular_table choices-border" width="800px">
	<tr id="mainForm" class="tabular_table_body">
		<td>
			<div id="tabs">
				<ul>
					<li><a  href="#tabs-general">General</a></li>
					<li><a  href="#tabs-SSL">SSL certs and key</a></li>
					<li id="showServices"><a  href="#tabs-node-services" onclick="loadNodeServices('{node.uri}')">Services</a></li>
					<li><a href="#tabs-node-advance" >Advance</a></li>
				</ul>

				<div id="tabs-node-services">
					<center>
					<h1 id="serviceListTitle">
									{serviceList.length} services found
					</h1>
					<hr>
						<table id="servicesList" class="tabular_table scroll choices-border" >
							<thead>
								<tr class="tabular_table_header">
									<th>Service name</th>
									<th>On</th>
									<th>Group name</th>
									<th>Frontend endpoint</th>
									<th>Backend endpoint</th>
								</tr>
							</thead>
							<tbody id="data">
									<tr id="rowTpl" style="display:none">
										<td title="{serviceList[i].serviceName}">{serviceList[i].serviceName}</td>
											
										<td class="isPublished"><input  title="{isPublishedToolTip}" type="checkbox" id="isPublished{i}" {cbPublishedCheck} disabled><label for="isPublished{i}"></label></td>

										<td title="{serviceList[i].groupName}">{serviceList[i].groupName}</td>
										<td title="{serviceList[i].frontEndEndPoint}">{serviceList[i].frontEndEndPoint}</td>
										<td title="{serviceList[i].backEndEndPoint}">{serviceList[i].backEndEndPoint}</td>
									</tr>
							</tbody>
						 </table>
					</center>
				</div>
				<div id="tabs-node-advance">
					<table>
						<tr class="tabular_table_body">
							<td colspan="2">
								<br><p id="warnAdditionalConfig" class="errorMessage">ATTENTION: Using additional apache configuration directives may corrupt entire configuration if directives are not...</p>
							</td>
						</tr>
						<tr class="tabular_table_body">
							<th>Addtional apache directive:</th>
							<td><textarea rows="10"  title="{additionalConfigurationToolTip}"   id="additionalConfiguration" onClick="setNodeModified(true)"  onchange="setNodeModified(true)" onkeypress="setNodeModified(true)">{node.additionalConfiguration}</textarea></td>
						</tr>
					</table>
				</div>

				<div id="tabs-general">
					<table class="tabular_table choices-border ">
						<tbody class="tabular_table_body">
							<tr>
								<th>Node name:</th>
								<td>{nodeNameAsLabel}<input class="inputText"  title="{nodeNameToolTip}" type="{nodeNameInputType}" id="nodeNameFld" value="{node.nodeName}" onchange="setNodeModified(true)" onkeypress="setNodeModified(true)"></td>
								<th><label  title="{isHTTPSToolTip}">Use HTTPS:</label></th>
								<td><input  title="{isHTTPSToolTip}" type="checkbox" id="isHTTPS" onClick="setNodeModified(true)"  onchange="setNodeModified(true)" onkeypress="setNodeModified(true)" {cbIsHTTPS} ><label for="isHTTPS"></label></td>

							</tr>
							<tr>
								<th>Local IP:</th>
								<td><input class="inputText"  title="{localIPToolTip}" type="text" id="localIP" value="{node.localIP}" onchange="setNodeModified(true)" onkeypress="setNodeModified(true)"></td>
								<th>Port:</th>
								<td><input class="inputText"  title="{portToolTip}" type="text" id="port" value="{node.port}" onchange="setNodeModified(true)" onkeypress="setNodeModified(true)"></td>
							</tr>
							<tr>
								<th>Server FQDN:</th>
								<td><input class="inputText"  title="{serverFQDNToolTip}" type="text" id="serverFQDN" value="{node.serverFQDN}" onchange="setNodeModified(true)" onkeypress="setNodeModified(true)"></td>
								<th>Description:</th>
								<td><input class="inputText"  title="{nodeDescriptionToolTip}" type="text" id="nodeDescription" value="{node.nodeDescription}" onchange="setNodeModified(true)" onkeypress="setNodeModified(true)"></td>
							</tr>
							<tr>
								<td colspan="4"><hr></td>
							</tr>
							<tr>
								<th><label  title="{isBasicAuthEnabledToolTip}">Use basic authentication:</label></th>
								<td><input  title="{isBasicAuthEnabledToolTip}" type="checkbox" id="isBasicAuthEnabled" onClick="setNodeModified(true)"  onchange="setNodeModified(true)" onkeypress="setNodeModified(true)" {cbIsBasicAuthEnabled} ><label for="isBasicAuthEnabled"></label></td>
								<th><label  title="{isCookieAuthEnabledToolTip}">Use cookie authentication:</label></th>
								<td><input  title="{isCookieAuthEnabledToolTip}" type="checkbox" id="isCookieAuthEnabled" onClick="setNodeModified(true)"  onchange="setNodeModified(true)" onkeypress="setNodeModified(true)" {cbIsCookieAuthEnabled} ><label for="isCookieAuthEnabled"></label></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="tabs-SSL">
					<form enctype="multipart/form-data">
					<div id="fileupload"/>
					<table class="tabular_table choices-border " width="100%">
						<tbody class="tabular_table_body">
							<tr>
								<th>Private key</th>
								<td><input class="inputFile" id="PKfileuploadFLD" type="file"  onchange="setNodeModified(true)" ></td>
							</tr>
							<tr>
								<th>Certificate</th>
								<td><input id="CERTfileuploadFLD" type="file" class="inputFile" onchange="setNodeModified(true)" ></td>
							</tr>
						</tbody>
					</table>
					</form>
					<div id="resetSSL">
						<hr>
						<input id="resetSSL" type="button" onclick="startResetSSL()" value="Reset existing key and certificate" class="button_orange">
					</div>
					<hr><input  title="{manageCAcertToolTip}" type="checkbox" id="manageCaCert" {cbManageCAEnabled} onclick="toggleAuthority()"><label for="manageCaCert">Manage Certification Authority certificates</label><br>
					<div id="sslAuthority"
						<form enctype="multipart/form-data">
						<div id="fileupload"/>"
						<table class="tabular_table choices-border " width="100%">
							<tbody class="tabular_table_body">
								<tr>
									<th><div id="lblCa">{lblCa}</div></th>
									<td><input class="inputFile" id="CAfileuploadFLD" type="file"  onchange="setNodeModified(true)" ></td>
								</tr>
								<tr>
									<th><div id="lblChain">{lblChain}</div></th>
									<td><input id="CHAINfileuploadFLD" type="file" class="inputFile" onchange="setNodeModified(true)" ></td>
								</tr>
							</tbody>
						</table>
						</form>
						<div id="resetCASSL">
							<hr>
							<input type="button" onclick="startResetCASSL()" value="Remove existing CA and Chain certificates" class="button_orange">
						</div>
					</div>
				</div>
				
			</div>
		</td>
	</tr>
</table>
