<center>
<h1>
Quotas on service {quota.serviceName} for user {quota.userName} settings
</h1>
<hr>
<form>
<input type="hidden" id="quotaUri" value="{quota.uri}">
<table class="tabular_table">
	<tr class="tabular_table_body">
		<th>Maximun request per second:</th>
		<td><input  class="inputNumber"   title="{perSecToolTip}"  type="text" id="reqSec" value="{quota.reqSec}" onchange="setQuotaModified(true)" onkeypress="setQuotaModified(true)"></td>
	<tr>
	<tr class="tabular_table_body">
		<th>Maximun request per day:</th>
		<td><input   class="inputNumber"  title="{perDayToolTip}"  type="text" id="reqDay" value="{quota.reqDay}" onchange="setQuotaModified(true)" onkeypress="setQuotaModified(true)"></td>
	<tr>
	<tr class="tabular_table_body">
		<th>Maximun request per month:</th>
		<td><input  class="inputNumber"   title="{perMonthToolTip}"  type="text" id="reqMonth" value="{quota.reqMonth}" onchange="setQuotaModified(true)" onkeypress="setQuotaModified(true)"></td>
	<tr>
</table>
<br>
<input type="button" id="saveEditQuotas" onclick="updateQuota('{quota.uri}')" value="Save" class="button_orange">&nbsp;
<input type="button" id="cancelEditQuotas" onclick="startDisplayUserQuotasForCurrentUser()" value="Cancel" class="button_orange">&nbsp;
</form>
<hr>
		
</center>
		
