<center>
<h2>
	{currentUser.userName}'s quotas 
</h2>
	<table id="userQuotasList" class="tabular_table">
		<thead>
			
			<tr class="tabular_table_header">
				<th>Servicename</th>
				<th>Max/sec</th>
				<th>Max/day</th>
				<th>Max/month</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody id="data">
			<tr id="rowTpl" style="display:none">
				<td>{quotasList[i].serviceName}</td>
				<td>{quotasList[i].reqSec}</td>
				<td>{quotasList[i].reqDay}</td>
				<td>{quotasList[i].reqMonth}</td>
				<td>
					<a  id="btnEdit" title="{editUserQuotasToolTip}" href="javascript:startEditUserQuotas('{quotasList[i].uri}')"><img border="0" src="images/edit.gif"></a>
					<a  id="btnDelete" title="{deleteUserToolTip}" href="javascript:deleteUserQuotas('{quotasList[i].uri}', '{quotasList[i].serviceName}')"><img border="0" src="images/delete.gif"></a>
				</td>
			</tr>
		</tbody>
	</table>
<br>
<form>
<input type="button" class="button_orange" onclick="startEditCurrentUser()" value="Done">&nbsp;
<input type="button" class="button_orange" onclick="addUserQuotas()" value="Add">
</form>
