<table class="tabular_table">
	<tr class="tabular_table_body">
		<th>User&nbsp;name:</th>
		<th>{userNameAsLabel}<input class="inputText" type="{userNameInputType}" id="userName" value="{userName}" title="{userNameToolTip}" onchange="setUserModified(true)" onkeypress="setUserModified(true)"></th>
	</tr>
	<tr class="tabular_table_body">
	<th>Password:</th>
		<th><input class="inputText"  title="{passwordToolTip}" type='password' id='userPass' value="{password}" onchange="setUserModified(true)"  onkeypress="setUserModified(true)"></th>
	</tr>
	<tr class="tabular_table_body">
		<th>Firstname:</th>
		<th><input class="inputText"  title="{firstNameToolTip}" type='text' id='firstName' value="{firstName}"  onchange="setUserModified(true)"  onkeypress="setUserModified(true)"></th>
	</tr>
	<tr class="tabular_table_body">
		<th>Last name:</th>
		<th><input class="inputText" title="{lastNameToolTip}"  type='text' id='lastName' value="{lastName}"  onchange="setUserModified(true)"  onkeypress="setUserModified(true)"></th>
	</tr>
	<tr class="tabular_table_body">
		<th>Entity:</th>
		<th><input class="inputText"  title="{entityNameToolTip}" type='text' id='entity' value="{entity}"  onchange="setUserModified(true)"  onkeypress="setUserModified(true)"></th>
	</tr>
	<tr class="tabular_table_body">
		<th>Email address:</th>
		<th><input class="inputText"  title="{mailNameToolTip}"  type='text' id='userMail' value="{emailAddress}"  onchange="setUserModified(true)"  onkeypress="setUserModified(true)"></th>
	</tr>
	<tr class="tabular_table_body">
		<th>End date:</th>
		<th>
		<div>
			<input class="inputhT"  title="{endDateNameToolTip}" type="text" name="userEndDate" id="userEndDate" value="{endDate}" onchange="setUserModified(true)"/>
		 </div>
	</tr>
	<tr class="tabular_table_body">
		<th>Addtional data:</th>
		<th><textarea rows="5" title="{userExtraToolTip}"   id="extra" onClick="setUserModified(true)"  onchange="setUserModified(true)" onkeypress="setUserModified(true)">{extra}</textarea></th>
		</th>
	</tr>
</table>
