<center>
<h1>
Add quotas on service for user {currentUser.userName} settings
</h1>
<hr>
<form>
<table class="tabular_table">
	<tr class="tabular_table_body">
		<th>Service:</th>
		<td>
			<div id="unsetQuotas">
				<select title="{userServiceQuotaToolTip}" name="quotaUri" id="quotaUri">
				</select>
			</div>
		</td>
	<tr>
	<tr class="tabular_table_body">
		<th>Maximun request per second:</th>
		<td><input class="inputNumber"  title="{perSecToolTip}" type="text" id="reqSec" value="" onchange="setQuotaModified(true)" onkeypress="setQuotaModified(true)"></td>
	<tr>
	<tr class="tabular_table_body">
		<th>Maximun request per day:</th>
		<td><input class="inputNumber"   title="{perDayToolTip}" type="text" id="reqDay" value="" onchange="setQuotaModified(true)" onkeypress="setQuotaModified(true)"></td>
	<tr>
	<tr class="tabular_table_body">
		<th>Maximun request per month:</th>
		<td><input class="inputNumber"   title="{perMonthToolTip}"  type="text" id="reqMonth" value="" onchange="setQuotaModified(true)" onkeypress="setQuotaModified(true)"></td>
	<tr>
</table>
<br>
<input type="button" id="saveEditQuotas" onclick="saveNewQuota()" value="Save" class="button_orange">&nbsp;
<input type="button" id="cancelEditQuotas" onclick="startDisplayUserQuotasForCurrentUser()" value="Cancel" class="button_orange">&nbsp;
</form>
<hr>
	
</center>
