Source: appliance-manager
Section: net
Priority: extra
Maintainer: Emerginov Team <admin@emerginov.org>
Build-Depends: debhelper (>= 8.0.0), po-debconf
Standards-Version: 3.9.3
Homepage: http://www.emerginov.org

Package: appliance-manager
Architecture: any
Depends: ${misc:Depends}, apache2, libapache2-mod-osa, php5, php5-mysql, openssl, mysql-server, curl
Description: Appliance Manager
 This is a collection of PHP script and Apache configuration
